@import '../../style/variables';
.home-section {
  @include flex-row();
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  min-height: calc(100vh - 75px);
  .description-section {
    @include flex-column();
    width: 35%;
    margin: 0 auto;
    box-shadow: 0px 2px 4px -1px $box-shadow2, 0px 4px 5px 0px $box-shadow1,
      0px 1px 10px 0px $box-shadow;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 300px;
  }
  img {
    display: inline-block;
    height: 100px;
    width: 100px;
  }
  .app-description {
    font-size: 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
  }
  .actions-section {
    @include flex-row(space-around, center);
    margin: 16px 0;
    box-sizing: border-box;
    width: 100%;
  }
}
