@import './variables';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  overflow-x: hidden;
  background: $white-color;
  font-family: $font;
  .layout {
    position: relative;
  }
  .layout-section {
    position: absolute;
    top: 75px;
    left: 20%;
    width: 80%;
  }
}
